  .sc-hKwDye,.card-body div nav{
        background-color:var(--bg) !important;
        color: var(--text) !important;
       }
       .glass{
       /* Hmcd */
       .sc-dkPtRN .sc-hKwDye .sc-crHmcD{
        background-color:transparent;
       }
       
       /* Ptrn */
       .sc-bdvvtL .sc-gsDKAQ .sc-dkPtRN{
        background-color:transparent;
       }
       
       /* Card */
       #root .card{
        transform:translatex(0px) translatey(0px);
       }
       
       /* Bdvvtl */
       .sc-dlVxhl .sc-fKVqWL .sc-bdvvtL{
        background-color:transparent;
       }
      
       
       /* Row 12 */
       .rdt_TableRow{
        background-color:transparent !important;
       }
        //// table 
       .sc-fKVqWL .sc-bdvvtL .sc-iwjdpV{
 background-color:transparent;
 color:var(--text);
}


       }


       :where(.css-dev-only-do-not-override-1adbn6x).ant-pagination .ant-pagination-total-text,
       a:not([href]):not([class]), a:not([href]):not([class]):hover,
       .dLwgoF svg
       {
        color: var(--text);
       }
       :where(.css-dev-only-do-not-override-1adbn6x).ant-pagination .ant-pagination-item-active a{
        color: var(--primary) !important;
       }


       .modal .modal-dialog .modal-content{
           z-index: 999999999 !important;
           }
           
           
           .ImageWname{
            display: flex;
            align-items: center;
            justify-content: flex-start;
          
           }

/* Ant form item control */
#dynamic_form_complex div .ant-form-item-control{
      transform:translatex(0px) translatey(0px);
      min-width:93%;
     }
     
     /* Ant form item row */
     #dynamic_form_complex div .ant-form-item-row{
      transform:translatex(0px) translatey(0px);
      overflow:hidden;
     }
     
     /* Ant space item */
     #dynamic_form_complex div .ant-space-item{
      min-width:47%;
     }
     
    
     

     .ant-tabs-nav-wrap .ant-tabs-nav-list .ant-tabs-tab{
      direction: ltr; 
     }
     
     
     .ar{
      .VarianInfo .ant-tabs-editable .ant-tabs-nav{
            margin-left:12px;
           }
     }


       .react-tabs .react-tabs__tab-panel--selected .mt-4 .d-flex .ant-tabs-left{
      width:100% !important;
     }
     :where(.css-dev-only-do-not-override-6j9yrn).ant-tabs {
      width:100% !important;
     }